@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Seja bem vindo ao sistema de doação de alimentos.</p>
    <p>Para começar a utilização, escolha uma das opções no canto superior esquerdo.</p>
</div>
