
*.dll
*.dll
ProjetoDoacaoDeAlimentos/obj/staticwebassets.pack.sentinel
*.pdb
.vs/ProjetoDoacaoDeAlimentos/v17/HierarchyCache.v1.txt
.vs/ProjetoDoacaoDeAlimentos/v17/.suo
.vs/ProjetoDoacaoDeAlimentos/v17/.futdcache.v1
.vs/ProjetoDoacaoDeAlimentos/DesignTimeBuild/.dtbcache.v2
.vs/ProjetoDoacaoDeAlimentos/v17/.suo
ProjetoDoacaoDeAlimentos/obj/Debug/net6.0/ProjetoDoacaoDeAlimentos.csproj.AssemblyReference.cache
