@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de email";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Enviar email para confirmação é caro :D, isso seria enviado via email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">clique aqui para confirmar seu email</a>
</p>
    }
    else
    {
<p>
        Por favor confira seu email para finalizar o cadastro.
</p>
    }
}

